<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link th:href="@{/homepage_stylesheet.css}" rel="stylesheet">
</head>
<body>
<h1>Themen</h1>
<div class = "container">
    <a th:href="@{/createfrage}">Neue Frage Erstellen</a>
    <table id="table">
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr th:each="frage: ${fragen}">
            <td>
                <a th:href="${frage.isActive} ? @{/frage (frageId = ${frage.id})} : '#'"
                   th:text="${frage.title}">Link</a>
            </td>
            <td th:text ="${frage.isActive} ? 'Active' : 'Closed'"></td>
            <td th:if="${frage.user.id} == ${userId}">
                <button th:attr="onclick='toggleFrage(' + ${frage.id} + ');'" th:text="${frage.isActive} ? 'Close' : 'Open'">Toggle</button>
            </td>
            <td>
                <a th:href="@{/auswertung (frageId = ${frage.id})}">Auswertung anzeigen</a>
            </td>


        </tr>

    </table>
</div>
</body>
</html>
<script>
    function toggleFrage(frageId) {
        fetch('/toggleFrage/' + frageId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(() => {
                location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }



</script>
